* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
}
.center {
  width: 80%;
  margin: 0 auto;
}
.title,
.result,
.btn {
  text-align: center;
}
.result p {
  font-size: 1.5em;
}
.btn button {
  width: calc(100px - 10px);
  height: 40px;
  background-color: darkturquoise;
  margin: 5px;
  border: none;
}
